.article-partner {
  background-color: #fef7f0;

  .slick-track {
    display: flex;
    align-items: center;
  }

  .slick-slide.slick-slide--active {
    width: 180px;
  }

  &__inner {
    padding: 265px 0px 85px;
    display: flex;
  }

  &__item {
    display: flex !important;
    justify-content: center;
    width: auto;
  }
}