.new-design {
  margin: 90px 0 115px;

  @media (max-width:$sm) {
    margin-bottom: 90px;
  }

  &__top {
    margin-bottom: 70px;
    text-align: center;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__content {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    grid-gap: 34px 30px;

    @media (max-width:$lg) {
      justify-content: center;
      grid-template-columns: repeat(2, 1fr);
      // grid-template-columns: repeat(3, auto);
    }

    @media (max-width:$sm) {
      grid-template-columns: repeat(2, auto);
    }

    @media (max-width:$xs) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__card {
    display: block;
    background-color: #f8f8f8;
    box-shadow: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__info {
    position: absolute;
    top: 40px;
    left: 35px;
  }
}