.video {
  position: relative;
  width: 1920px;
  height: 501px;
  margin-top: 120px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &__link {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 127px;
    height: 127px;
    transform: translate(-50%, -50%);
  }
}